{
  "log": {
    "_recordingName": "api/webhooks/order-created/creates transaction on TaxJar side for new order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4b25633e496c6a252fa72163c7b4bf1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_country\":\"PL\",\"from_zip\":\"50-601\",\"from_state\":\"\",\"from_city\":\"Wroclaw\",\"from_street\":\"Teczowa 7\",\"to_country\":\"US\",\"to_zip\":\"20500\",\"to_state\":\"DC\",\"to_city\":\"Washington\",\"to_street\":\"8559 Lakes Avenue \",\"transaction_id\":\"T3JkZXI6ZThkYWJjMDItYmM3Zi00ZWZjLWFlODgtYWJjMTUwMmE2Zjdm\",\"transaction_date\":\"2022-05-27T08:30:44.890527+00:00\",\"amount\":99.22,\"shipping\":82.42,\"sales_tax\":0,\"line_items\":[{\"quantity\":1,\"product_identifier\":\"21438542\",\"description\":\"Bean Juice\",\"unit_price\":16.8,\"sales_tax\":0}]}"
          },
          "queryString": [],
          "url": "https://api.sandbox.taxjar.com/v2/transactions/orders"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 679,
            "text": "{\"order\":{\"transaction_id\":\"T3JkZXI6ZThkYWJjMDItYmM3Zi00ZWZjLWFlODgtYWJjMTUwMmE2Zjdm\",\"user_id\":197595,\"provider\":\"api\",\"transaction_date\":\"2022-05-27T08:30:44.890Z\",\"transaction_reference_id\":null,\"customer_id\":null,\"exemption_type\":null,\"from_country\":\"PL\",\"from_zip\":\"50-601\",\"from_state\":\"\",\"from_city\":\"WROCLAW\",\"from_street\":\"Teczowa 7\",\"to_country\":\"US\",\"to_zip\":\"20500\",\"to_state\":\"DC\",\"to_city\":\"WASHINGTON\",\"to_street\":\"8559 Lakes Avenue\",\"amount\":\"99.22\",\"shipping\":\"82.42\",\"sales_tax\":\"0.0\",\"line_items\":[{\"id\":0,\"quantity\":1,\"product_identifier\":\"21438542\",\"product_tax_code\":null,\"description\":\"Bean Juice\",\"unit_price\":\"16.8\",\"discount\":\"0.0\",\"sales_tax\":\"0.0\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"05c7d1fc790cfcb4cc1152a147498ca9\""
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 765,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
