{
  "log": {
    "_recordingName": "api/webhooks/order-calculate-taxes/propagates discounts over lines",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff0e3cd299e3dbb803636a4086612dbe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_country\":\"PL\",\"from_zip\":\"50-601\",\"from_state\":\"\",\"from_city\":\"Wroclaw\",\"from_street\":\"Teczowa 7\",\"to_country\":\"GB\",\"to_zip\":\"BH15 1AB\",\"to_state\":\"\",\"to_city\":\"POOLE\",\"to_street\":\"8559 Lakes Avenue \",\"shipping\":10,\"line_items\":[{\"id\":\"Q2hlY2tvdXRMaW5lOjU=\",\"quantity\":1,\"unit_price\":28,\"discount\":1.5},{\"id\":\"Q2hlY2tvdXRMaW5lOjU=\",\"quantity\":1,\"unit_price\":28,\"discount\":1.5}]}"
          },
          "queryString": [],
          "url": "https://api.sandbox.taxjar.com/v2/taxes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 752,
            "text": "{\"tax\":{\"order_total_amount\":36.5,\"shipping\":10.0,\"taxable_amount\":36.5,\"amount_to_collect\":8.4,\"rate\":0.23,\"has_nexus\":true,\"freight_taxable\":true,\"tax_source\":\"origin\",\"jurisdictions\":{\"country\":\"PL\",\"city\":\"WROCLAW\"},\"breakdown\":{\"taxable_amount\":36.5,\"tax_collectable\":8.4,\"combined_tax_rate\":0.23,\"country_taxable_amount\":36.5,\"country_tax_rate\":0.23,\"country_tax_collectable\":8.4,\"shipping\":{\"taxable_amount\":10.0,\"tax_collectable\":2.3,\"combined_tax_rate\":0.23,\"country_taxable_amount\":10.0,\"country_tax_rate\":0.23,\"country_tax_collectable\":2.3},\"line_items\":[{\"id\":\"Q2hlY2tvdXRMaW5lOjU=\",\"taxable_amount\":26.5,\"tax_collectable\":6.1,\"combined_tax_rate\":0.23,\"country_taxable_amount\":26.5,\"country_tax_rate\":0.23,\"country_tax_collectable\":6.1}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"d0ea9cb65c072e0ec6cb63328c217045\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1888,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
