{
  "log": {
    "_recordingName": "api/webhooks/order-calculate-taxes/fetches taxes for order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "409b143a42f8a102496366f9398c40ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_country\":\"PL\",\"from_zip\":\"50-601\",\"from_state\":\"\",\"from_city\":\"Wroclaw\",\"from_street\":\"Teczowa 7\",\"to_country\":\"GB\",\"to_zip\":\"BH15 1AB\",\"to_state\":\"\",\"to_city\":\"POOLE\",\"to_street\":\"8559 Lakes Avenue \",\"shipping\":10,\"line_items\":[{\"id\":\"Q2hlY2tvdXRMaW5lOjU=\",\"quantity\":1,\"unit_price\":28,\"discount\":0}]}"
          },
          "queryString": [],
          "url": "https://api.sandbox.taxjar.com/v2/taxes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 757,
            "text": "{\"tax\":{\"order_total_amount\":38.0,\"shipping\":10.0,\"taxable_amount\":38.0,\"amount_to_collect\":8.74,\"rate\":0.23,\"has_nexus\":true,\"freight_taxable\":true,\"tax_source\":\"origin\",\"jurisdictions\":{\"country\":\"PL\",\"city\":\"WROCLAW\"},\"breakdown\":{\"taxable_amount\":38.0,\"tax_collectable\":8.74,\"combined_tax_rate\":0.23,\"country_taxable_amount\":38.0,\"country_tax_rate\":0.23,\"country_tax_collectable\":8.74,\"shipping\":{\"taxable_amount\":10.0,\"tax_collectable\":2.3,\"combined_tax_rate\":0.23,\"country_taxable_amount\":10.0,\"country_tax_rate\":0.23,\"country_tax_collectable\":2.3},\"line_items\":[{\"id\":\"Q2hlY2tvdXRMaW5lOjU=\",\"taxable_amount\":28.0,\"tax_collectable\":6.44,\"combined_tax_rate\":0.23,\"country_taxable_amount\":28.0,\"country_tax_rate\":0.23,\"country_tax_collectable\":6.44}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"e3f4ed37b12f9d6a65610de145d14baa\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1078,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
